#modal{


}

.modal-cont-chnage-backg{
    width: 40%;
    padding: 1% 1% 1% 1%;
    height: fit-content;
    border: 5%;
    top: 5%;
    left: 20%;
    background-color: #00000096 !important;
}

.modal-backg-cont{
    text-align: center;
    margin: 0% 0% 0% 2%;
    
}


.modal-backg-img{
    /* width: 22vh;
    height: 18vh;   */
    display: inline-block;
    width: 10vw;
    height: 20vh;
    border-radius: 5%;
    background-color: rgb(211, 123, 123); 
    margin: 2% 0% 0% 4%;
    background-size: cover;
    cursor: pointer;
}


.modal-backg-img:hover{
    border: .3vh solid #f58b00;
}

.modal-pag-btn{
    font-size: 5vh;
    font-family: Font-Card-Title;
    background-color: transparent;
    border: none;
    margin: 0% 3%;
    transition: color .2s;
    color: #ffffff;
    outline: none;
}

.modal-pag-btn:hover{
    color: #ed4f4f;
}

.modal-clothes-img{
    display: inline-block;
    width: 10vw;
    height: 30vh;
    border-radius: 5%;
    background-color: rgb(211, 123, 123); 
    margin: 2% 0% 0% 4%;
    background-size: auto 100%;
    background-position: center;
    cursor: pointer;
    background-repeat: no-repeat;
}

.modal-cont-chnage-clothes{
    left: 55% !important;
}