.modal-cont-chnage-name{
    width: fit-content;
    height: fit-content;
    border-radius: 1%;
    left: 30%;
    top: 30%;
}

.modal-content-cont{
    padding: 5%; 
}

.modal-text-chnage-name{
    font-size: 5vh;
}

.modal-input-chnage-name{
    font-size: 3vh;
}

.modal-btn-chnage-name{
    font-size: 3vh;
    width: 100%;
    margin: 5% 0% 0% 0%;
    color: #000000;
}

.modal-btn-chnage-name:hover{
    color: #000000;
}

.modal-btn-chnage-name:focus{
    color: #000000;
}