#minigame-cont{
    position: fixed;
    right: 0%;
    bottom: 0%;
    width: fit-content;
    height: fit-content;
}

#minigame-0-order{
    background-color: #e4a5e3cf;
    width: 30vh;
    height: 30vh;
    margin: 0% -10%;
    border-radius: 50%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
    transition: background-image .3s;
}
