.background-img{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;   
    height: 100vh;
}



.spray-img{
    max-height: 90vh;
    position: fixed;
    bottom: 0;
    left: 35%;
    z-index: -1;    
}

.room-spray-cont{
    width: 100%;
    text-align: center;
}

.top-btn-room{
    position: fixed;
    width: 7vh;
    height: 7vh;
    top: 1%;
    border-radius: 1%;
    border: .3vh solid black;
    background-color: #6b7da0;
    transition:  background-color .2s;
}


.background-btn{
    background-image: url("../../Media/icons/background\ icon.png");
    left: 5%;

    background-size: cover;
}

.top-btn-room:hover{
    
    background-color: #93b4f6;
}

#back-btn{
    background-image: url("../../Media/icons/arror back.png");
    left: 1%;

}

#chg-clothes{
    top: 10% !important;
    background-image: url("../../Media/icons/clothes.png");
    background-size: cover;
    left: 1%;
}